/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/jun/2018, 18:41:49
    Author     : ASUS
*/

.button {
    -fx-font-weight: bold;
    -fx-background-color: #63a4ff;
    -fx-background-radius: 5;
    -fx-fontsize: 22;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}



.button:hover {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 7;
    -fx-fontsize: 22;
    -fx-text-fill: #5B5A5A;
    -fx-border-color: #5B5A5A;
    -fx-border-radius: 5;
    -fx-border-width: 3;
}

.button:pressed{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-fontsize: 22;
    -fx-text-fill: #5B5A5A;
    -fx-border-color: #5B5A5A;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    
}

.button:focused{
    -fx-font-weight: bold;
    -fx-background-color: #b3e5fc;
    -fx-background-radius: 5;
    -fx-fontsize: 22;
    -fx-text-fill: black;
    -fx-border-color: #5B5A5A;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    
}

.table-view{
   -fx-background-color: #e3f2fd;
}

.table-view:focused{
    -fx-background-color: #e3f2fd;
}


.table-view .column-header-background{
    -fx-background-color: linear-gradient(#283593 0%, #001064 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #131313;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #d0d5ed;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #eaebef;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:hover {
    -fx-font-weight: bold;
    -fx-background-color: #42a5f5;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.pane{
    -fx-background-color: #ffffff;
    -fx-border-color: #000000
}
.AnchorPane{
    -fx-background-image: url("picture/Inicio.PNG");
}

.inicialPane{
    -fx-background-image: url("picture/background3.jpg");
    -fx-background-size: cover ;
}

.paneLogin{
    -fx-background-color:  rgba(0,0,0,0.6);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.paneLateral{
    -fx-background-color: #004ba0;
    border-color:  #000000 ;
}

.root{
    -fx-background: #ffffff;
}



.radio-button:selected .radio{
    /*-fx-border-color: #15171c;*/
    -fx-border-color: #001064;
    -fx-border-radius: 130px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white; /* 5 */
}
.list-cell { -fx-text-fill: black; /* 5 */ }
.list-cell:odd { -fx-background-color: #d0d5ed; /* 1 */ }
.list-cell:even { -fx-background-color: #eaebef; /* for information */ }
.list-cell:filled:hover { 
    -fx-background-color: #42a5f5; /* 2 */
    -fx-text-fill: black; /* 5 */
    -fx-font-weight: bold;
}

