/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/jun/2018, 18:41:49
    Author     : ASUS
*/

.button {
    -fx-font-weight: bold;
    /*-fx-background-color: #5B5A5A;*/
    -fx-background-color: #63a4ff;
    -fx-background-radius: 5;
    -fx-fontsize: 22;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

.button:hover {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 7;
    -fx-fontsize: 22;
    -fx-text-fill: #5B5A5A;
    -fx-border-color: #5B5A5A;
    -fx-border-radius: 5;
    -fx-border-width: 3;
}

.button:pressed{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-fontsize: 22;
    -fx-text-fill: #5B5A5A;
    -fx-border-color: #5B5A5A;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    
}

.button:focused{
    -fx-font-weight: bold;
    -fx-background-color: #8199f9;
    -fx-background-radius: 5;
    -fx-fontsize: 22;
    -fx-text-fill: #5B5A5A;
    -fx-border-color: #5B5A5A;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    
}

.table-view{
   -fx-background-color: #CAC8C8;
}

.table-view:focused{
    -fx-background-color: #CAC8C8;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    /*-fx-text-fill: #5B5A5A;*/
    -fx-text-fill: #131313;
}

.table-row-cell{
 /*   -fx-background-color: -fx-table-cell-border-color, #616161;*/
    -fx-background-color: -fx-table-cell-border-color, #d0d5ed;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    /* -fx-background-color: -fx-table-cell-border-color, #424242;*/
    -fx-background-color: -fx-table-cell-border-color, #eaebef;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-font-weight: bold;
    -fx-background-color: #8199f9;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.pane{
    -fx-background-color: #ffffff;
}
.AnchorPane{
    -fx-background-image: url("picture/Inicio.png");
}