/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/jun/2018, 18:41:49
    Author     : ASUS
*/

.button {
    -fx-font-weight: bold;
    -fx-background-color: #5B5A5A;
    -fx-background-radius: 22;
    -fx-fontsize: 22;
    -fx-text-fill: white;
}

.button:hover {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-fontsize: 22;
    -fx-text-fill: #5B5A5A;
    -fx-border-color: #5B5A5A;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}
.button:pressed{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-fontsize: 22;
    -fx-text-fill: #5B5A5A;
    -fx-border-color: #5B5A5A;
    -fx-border-radius: 20;
    -fx-border-width: 3;
    
}